.pagetitle{
    color: #196F3D;
    font-size: 50px;
    font-weight: normal;
    position: relative;
    text-align: center;
}
.subhead{
    color: #196F3D;
    position:relative;
    text-align: center;
    padding: 5px;
}
nav{
    height: 60px;
    background-color:black;
}
nav a{
    color: white;
    float: left;
    text-align: center;
    font-weight: bold;
    padding: 18px;
    font-size: 18px;
    transition: 0.5;
}
nav a:last-child{
    float: right;
}
nav a:hover{
    transform:scale(1.1);
}
body{
    background-color: #EFFDF1;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}
a{
    text-decoration: none;
}
main{
    padding: 20;
}
.mainimg{
    border-radius: 100%; 
    object-fit: cover;
    object-position: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-color: #196F3D;
    border-width: 3px;
    border-style: solid;
}
footer{
    background-color: white;
    position:relative;
    height: 100px;
}
footer p{
    padding: 40px;
    text-align: center;
    align-items: flex-end;
}
.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.contact-links a {
    display: flex;
    align-items: center;
}